* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: khaki;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
}

h3 {
  margin: 50px auto;
}

a {
  color: black;
  text-underline-offset: none;
  font-size: 50px;
}